<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-md navbar-light bg-success border fixed-top" style="background-color: #8ebcdd;">
    <div class="container-fluid">
    
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex" role="search">
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; " routerLink="./home" (click)="logOut() ">Se Deconnecter</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; "routerLink="./home">Home</button>
      </form>
    </div>
  </nav>

  <div id="wrapper" class="wrapper-content">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Bootdey.com
                </a>
            </li>
            <li class="active">
                <a routerLink="/profile">Profile</a>
            </li>
            <li>
                <a routerLink="/doctors">Liste des Médecins</a>
            </li>
            <li>
                <a routerLink="/secretaires">Liste des Secretaires</a>
            </li>
          
            <li>
                <a routerLink="/therapies">Services</a>
            </li>
            <li>
                <a href="#">Home</a>
            </li>
        </ul>
    </div>
  </div>-->

  <nav class="navbar navbar-expand-md navbar-light bg-success border fixed-top" style="background-color: #8ebcdd;">
    <div class="container-fluid">
      <a class="navbar-brand">Home Medecin</a>
      <form class="d-flex" role="search">
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; " routerLink="./home">home</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; "(click)="logOut()" routerLink="">Logout</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; "routerLink="./static">Stitistiques</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; "routerLink="./therapiesModif">Services</button>

        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; "routerLink="./profile">Profile</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; "routerLink="./secretaires">Liste Secretaires</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; "routerLink="./doctors">Liste Medecins</button>


      </form>
    </div>
  </nav>