<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-md navbar-light bg-success border fixed-top" style="background-color: #8ebcdd;">
    <div class="container-fluid">
    
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex" role="search">
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; " routerLink="./home" (click)="logOut() ">Se Deconnecter</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; "routerLink="./home">Home</button>
      </form>
    </div>
  </nav>

  <div id="wrapper" class="wrapper-content">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Bootdey.com
                </a>
            </li>
            <li class="active">
                <a routerLink="/profile">Profile</a>
            </li>
            <li>
                <a routerLink="/doctors">Liste des Médecins</a>
            </li>
            <li>
                <a routerLink="/secretaires">Liste des Secretaires</a>
            </li>
          
            <li>
                <a routerLink="/therapies">Services</a>
            </li>
            <li>
                <a href="#">Home</a>
            </li>
        </ul>
    </div>
  </div>-->

  <nav class="navbar  fixed-top" style="background-color: #188ef4;">
    
    <!-- <div class="container-fluid"> -->
      <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
      <style>
        .navbar-brand {
          font-family: 'Pacifico', cursive;
          font-size: 24px;
          color: #333333;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 0;
          line-height: 1.5em;
        }
         .navbar-brand span:first-child {
          margin-bottom: -0.5em;
          color: white;
        }
        .navbar-brand span:last-child {
          color: white;
        }
      </style>
        <div class="container-fluid">
          <a class="navbar-brand">
             <span>Accueil Medecin</span>
            <span>Principal</span>
          </a>
      <form class="d-flex" role="search">
        <style>
          button {
            margin-right: 10px;
            border-radius: 20px;
            font-size: 16px;
            font-weight: bold;
            padding: 10px 20px;
          }
          .btn-outline-secondary {
  background-color: #188ef4;
  border-color: #71deec;
  color: white;
}
        
        .btn-outline-secondary:hover,
        .btn-outline-secondary:focus {
background-color: #1e61b9 !important;
border-color: #71deec !important;

}
        </style>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #ffffff; " routerLink="./home">Accueil</button>


      

        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #ffffff; "routerLink="./profile">Profil</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #ffffff; "routerLink="./secretaires">Liste Secretaires</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #ffffff; "routerLink="./doctors">Liste Medecins</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #ffffff; "routerLink="./therapiesModif">Services</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #ffffff; "routerLink="./ajouterTherapie">Ajout </button>
       
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #ffffff; "routerLink="./static">Statistiques</button>
        
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #ffffff; "(click)="logOut()" routerLink="">Déconnexion</button>

      </form>
    </div>
  </nav>