<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div *ngIf="secretaire" class="row m-3 ">
    <div style="margin-top: 150px; " class="card col-md-5 text-center ">
       
    </div>
    <div style="margin-top: 150px; " class="card col-md-7 ">
        <table class="table ">
            <tbody>
                <tr>
                    <th></th>
                    <td colspan="2 " scope="row "><b>Nom et prénom</b></td>
                    <td>{{secretaire.firstname}} {{secretaire.lastname}} </td>
                </tr>

                <tr>
                    <th></th>
                    <td colspan="2 "><b>Adresse</b></td>
                    <td>{{secretaire.adresse}} </td>
                </tr>
                <tr>
                    <th></th>
                    <td colspan="2 "><b>Téléphone</b></td>
                    <td>{{secretaire.tel}} </td>
                </tr>
                <tr>
                    <th></th>
                    <td colspan="2 "><b>Email</b></td>
                    <td>{{secretaire.email}}</td>
                </tr>

               
            </tbody>
        </table>
    </div>
</div>
