<div class="container">
  <h3 class="h3">shopping Demo-4 </h3>
  <div class="row">
      <div class="col-md-3 col-sm-6" *ngFor="let therapie of therapies">
          <div class="product-grid4">
              <div class="product-image4">
                  <a href="#">
                      <img class="pic-1" src="assets/image/{{ therapie.imageUrl }}">
                      <img class="pic-2" src="assets/image/{{ therapie.imageUrl }}">
                  </a>
                  <ul class="social">
                      <li><a (click)="viewprofil(therapie.id_t)" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                     
                   
                  </ul>
                
              </div>
              <div class="product-content">
                  <h3 class="title"><a  (click)="viewprofil(therapie.id_t)">{{ therapie.name }}</a></h3>
                  <div class="price">
                    {{therapie.description.substr(0,40)}}
                    <br>
                    <ngb-rating [max]="5" [resettable]="true" [(rate)]="therapie.star" [(ngModel)]="therapie.star" (click)="afficher(therapie.id_t,therapie.star)" [readonly]="false"></ngb-rating>
                  </div>
                  <a class="add-to-cart" *ngIf="islogged" (click)="add(therapie.id_t)" >Prendre Rendez-Vous</a>
              </div>
          </div>
      </div>
  

  </div>
</div>

<div *ngIf="therapies?.length ==0" class="alert alert-warning col-md-12" role="alert">
No Therapie found.

</div>
