<!--<div class="row">
    <div class="col-lg-6">
        <h2>Les Statistiques</h2>
        <canvas id="piechart"></canvas>
    </div>
    </div>-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card border-primary mb-3" style="border-color: rgb(8, 8, 100)!important;">
        <div class="card-header bg-primary text-white" style="background-color: rgb(8, 8, 100)!important;">Les Statistiques</div>
        <div class="card-body">
          <canvas id="piechart"></canvas>
        </div>
      </div>
    </div>
  </div>
  