


<section class="bg-light" *ngIf="medecin">
    <br>
    <br>
    <br>
    <br>
    <div class="container" >
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img src="../../../assets/image/profileM.png" style="width: 200px; height: 200px; margin-left: 100px;" alt="...">

                               
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <h3 class="h2 text-white mb-0">{{medecin.firstname}} {{medecin.lastname}}</h3>
                                    <span class="text-primary">{{medecin.speciality}}</span>
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Position:</span>Medecin {{medecin.speciality}}</li>
                                   
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> {{medecin.email}}</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Adresse:</span> {{medecin.adresse}}</li>
                                 
                                    <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span> {{medecin.tel}}</li>
                                </ul>
                                

                                                      <style>
                                                        .btn-success {
                                                          background-color: #188ef4;
                                                          border-color: #188ef7;
                                                        }
                                                        .btn-success,
                                                .btn-success:hover,
                                                .btn-success:focus {
                                                background-color: #188ef4 !important;
                                                border-color: blue !important;
                                                }
                                                        </style>
                                                       
                                                        <button class="btn btn-success btn-block"  type="button"  (click)="modifierMedecin(medecin.email,medecin.id)">Modifier Profile</button>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-4 mb-sm-5">
               
            </div>
         
        </div>
    </div>
</section>

<!--Secretaire  -->

<section class="bg-light" *ngIf="secretaire">
    <br>
    <br>
    <br>
    <br>
    <div class="container" >
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img src="../../../assets/image/profileF.png" style="width: 200px; height: 200px; margin-left: 100px;"alt="...">
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <h3 class="h2 text-white mb-0">{{secretaire.firstname}} {{secretaire.lastname}}</h3>
                                    
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Age:</span> {{secretaire.age}}</li>
                                   
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> {{secretaire.email}}</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Adresse:</span> {{secretaire.adresse}}</li>
                                 
                                    <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span> {{secretaire.tel}}</li>
                                </ul>
                               
                                <style>
                                    .btn-success {
                                      background-color: #188ef4;
                                      border-color: #188ef7;
                                    }
                                    .btn-success,
                            .btn-success:hover,
                            .btn-success:focus {
                            background-color: #188ef4 !important;
                            border-color: blue !important;
                            }
                                    </style>
                                   
                                    <button class="btn btn-success btn-block"  type="button"  (click)="modifierSecretaire(secretaire.email,secretaire.id)" >Modifier Profile</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-4 mb-sm-5">
               
            </div>
         
        </div>
    </div>
</section>