
<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-md navbar-light bg-success border fixed-top" style="background-color: #8ebcdd;">
    <div class="container-fluid">
    
      <a class="navbar-brand">Secretaire</a>
      <form class="d-flex" role="search">
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; " routerLink="./home" (click)="logOut() ">Se Deconnecter</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; ">Search</button>
      </form>
    </div>
  </nav>

  <div id="wrapper" class="wrapper-content">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Bootdey.com
                </a>
            </li>
            <li class="active">
                <a routerLink="./profile">Profile</a>
            </li>
            <li>
                <a routerLink="./therapies">Services</a>
            </li>
            <li>
                <a routerLink="./appointments">Liste des Rendez-Vous</a>
            </li>
            <li>
                <a href="#">Home</a>
            </li>
        </ul>
    </div>
  </div>-->

  <nav class=" navbar  fixed-top" style="background-color: #188ef4;">
    <div class="container-fluid">
      <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
      <style>
        .navbar-brand {
          font-family: 'Pacifico', cursive;
          font-size: 24px;
          color: #333333;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 0;
          line-height: 1.5em;
        }
        .navbar-brand span {
          color: white;
        }
        </style>
      <a class="navbar-brand"><span>Accueil Secretaire</span> </a>
      <form class="d-flex" role="search">
        <style>
          button {
            margin-right: 15px;
            border-radius: 20px;
            font-size: 16px;
            font-weight: bold;
            padding: 10px 20px;
          }
          .btn-outline-secondary {
  background-color: #188ef4;
  border-color: #71deec;
  color: white;
}
        
        .btn-outline-secondary:hover,
        .btn-outline-secondary:focus {
background-color: #1e61b9 !important;
border-color: #71deec !important;

}
        </style>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #ffffff; " routerLink="./home">Accueil</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #ffffff; "routerLink="./appointments">Rendez-vous</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #ffffff; " routerLink="./profile">Profil</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #ffffff; "(click)="logOut()" routerLink="">Déconnexion</button>
       


      </form>
    </div>
  </nav>
