
<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div id="wrapper" class="wrapper-content">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Bootdey.com
                </a>
            </li>
            <li class="active">
                <a href="#">About</a>
            </li>
            <li>
                <a routerLink="/patient">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>

    
  
</div>   -->
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
</head>
<div class="py-5 service-32">
    <div class="container">
        <div class="row wrap-feature-32"> 
            <div class="col-md-6 mt-4"> <img src="../../../assets/home.png" class="img-fluid" width="100%" style="margin-bottom: 50px;"> </div>
			<style>
				  img {
      animation: heartbeat 2s infinite;
    }
			
				@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
			  </style>
			<div class="col-md-6 align-self-center"> 
								<!-- <span class="badge badge-info rounded-pill px-3 py-1 font-weight-light">Service 32</span> -->
                
				
				<div style="text-align: center; color: #000;">
								<h2 class="my-3">BIENVENUE CHEZ NOUS !</h2></div>
				<style>
					p {
						color: #000;
					}
				</style>
				<div style="text-align: center; display: flex; justify-content: center; align-items: center; flex-direction: column;">
				<p class="mt-3" style="font-family: 'Verdana', serif; font-size: 18px; line-height: 1.5; color: #333;">Notre cabinet médical offre une gamme complète de services de santé alternative personnalisés.</p> 
					<br>
						
				<a class="btn btn-info-gradiant btn-md rounded-pill mt-3" routerLink="/therapies"><span>Découvrir Nos Services</span></a> 
			</div>
		</div>
        </div>
    </div>
</div>
<!--************************Images***********************************-->

<div class="accordian">
    <ul>
		<li>
			<div class="image_title">
				<a href="#">Acupuncture</a>
			</div> 
			<a href="#">
				<img src="../../../assets/image/actu.png" width="650" height="320"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Chiropractie</a>
			</div>
			<a href="#">
				<img src="../../../assets/image/chi.jpg" width="650" height="320"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Podologie</a>
			</div>
			<a href="#">
				<img src="../../../assets/image/nut.jpg" width="650" height="320"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">phytothérapie</a>
			</div>
			<a href="#">
				<img src="../../../assets/image/phytothérapie.jpg" width="650" height="320"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Diététique</a>
			</div>
			<a href="#">
				<img src="	../../../assets/image/pod.jpg
				" width="650" height="320"/>
			</a>
		</li>
		
    </ul>
</div>
<!--**********************Footer***************************************-->
<app-email></app-email>
<app-footer></app-footer>