<nav class="navbar navbar-expand-md navbar-light bg-success border fixed-top">
    <ul class="navbar-nav">
      
     
        <li style="margin-left: 40px" class=" nav-item "><a style="font-size :20px; " class="nav-link text-light px-5 " routerLink="./appointments">Liste des rendez-vous</a></li>
        <li style="margin-left: 40px" class=" nav-item "><a style="font-size :20px; " class="nav-link text-light px-5 " routerLink="./doctors">Liste des medecins</a></li>
        <li style="margin-left: 100px;margin-right: 10px; " class="nav-item "><a style="font-size :20px; " class="nav-link text-light pm-5 pe-0 " routerLink="home" (click)="logOut() ">Se déconnecter</a>
        </li>

        
    </ul>
</nav>
