<div style="margin-top: 200px;" class="col-md-6 offset-md-3   border border-success">
    <h3><strong> Modifier Médecin </strong></h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" class="form-control" id="nom" placeholder="Nom" [(ngModel)]="doctor.firstname" name="nom">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="prenom" placeholder="Prénom" [(ngModel)]="doctor.lastname" name="prenom">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="age" placeholder="Age" [(ngModel)]="doctor.age" name="age">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="tel" placeholder="Téléphone " [(ngModel)]="doctor.tel" name="tel">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="adresse" placeholder="Téléphone " [(ngModel)]="doctor.adresse" name="adresse">
        </div>
      
        <button style="margin-bottom: 10px; margin-left: 270px; width: 200px;" class="btn btn-success " type="submit">Valider</button>

    </form>

</div>
