.header {
    background-color: #f1f1f1;
    padding: 1rem;
    text-align: center;
  }
  
  .header__title {
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }
  