


          <div style="margin-top: 200px;" class="col-md-6 offset-md-3   border border-success">
            <h3><strong> Modifier Sécretaire </strong></h3>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="text" class="form-control" id="nom" placeholder="Nom " [(ngModel)]="secretaire.firstname" name="nom">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="prenom" placeholder="Prénom " [(ngModel)]="secretaire.lastname" name="prenom">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="age" placeholder="Age " [(ngModel)]="secretaire.age" name="age">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="tel" placeholder="Téléphone " [(ngModel)]="secretaire.tel" name="tel">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="adresse" placeholder="Adresse " [(ngModel)]="secretaire.adresse" name="adresse">
                </div>
            
                <button style="margin-bottom: 10px; margin-left: 270px; width: 200px;" class="btn btn-success " type="submit">Valider</button>
        
            </form>
        
        </div>
  
          
    
     