<div class="container mycontainer" >
    <div class="card justify-content-md-center">
        <div class="card-header text-center">
            <h3> Ajouter une secretaire</h3>
        </div>
        <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="firstname" placeholder="nom" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="lastname" placeholder="prenom" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="age" placeholder="Age" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="tel" placeholder="Téléphone" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="adresse" placeholder="Adresse" required>
            
            </div>
            
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="email" placeholder="E-mail" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" formControlName="password" placeholder="Mot de passe" required>
            </div>
        
            
              
            <div class="mb-3 d-flex justify-content-between">
                
                <button class="w-100 btn btn-lg btn-primary" type="submit">Ajouter</button>
            </div>
        </form>
        </div>
    </div>
</div>
