<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-md navbar-light bg-success border fixed-top" style="background-color: #8ebcdd;">
    <div class="container-fluid">
    
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex" role="search">
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; ">Search</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; ">Search</button>
      </form>
    </div>
  </nav>

  <div id="wrapper" class="wrapper-content">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Bootdey.com
                </a>
            </li>
            <li class="active">
                <a href="#">Prendre rendez-vous</a>
            </li>
            <li>
                <a routerLink="/patient">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
  </div>