<nav class="navbar" style="background-color: #8ebcdd;">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex" role="search">
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; " routerLink="">home</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; "routerLink="/login">Login</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="color: #000; "routerLink="/therapies">Services</button>
      </form>
    </div>
  </nav>