
<div class="detail-section">
    <div class="container-fluid">
       <p>THerapi!!!!!!!!!!</p>
        <img src="{{ therapie.imageUrl }}" class="detail-img">

        <h3>{{ therapie.name }}</h3>
        
        <button (click)="add()" class="btn btn-primary btn-sm">Prendre Rendez-vous</button>

        <hr>
        <h4>Description</h4>
        <p>{{ therapie.description }}</p>

        <a routerLink="/therapies" class="mt-5">Back to Therapie List</a>
    </div>

    
</div>
<div *ngFor="let temp of comments">
    <p>{{ temp.email }}</p>
    <p>{{ temp.text }}</p>
</div>
<div *ngIf="comments?.length ==0" class="alert alert-warning col-md-12" role="alert">
  No Comment found
  
  </div>